# Local Netlify folders
.netlify
tafsir
Qur'an (Yaseer Al Dossary)
Qur'an (Sheikh Mishary Alafasy)
books of knowledge
img
node_modules
poetry.ico
oneummah.ico
request.html
success.html
llama-2-7b-chat.gguf
llama.cpp